# macos
.DS_Store

#Jetbrains
.idea
!.idea/runConfigurations
http-client.private.env.json

# Gradle
.gradle
build
node_modules
**/**bin
**/**dist

.angular

# Terraform
**/tfplan.out
**/.terraform
**/.terraform.lock.hcl
terraform/.terraform
**/terraform.tfstate
**/terraform.tfstate.backup

# secrets
apps/carbonlog-backend/src/main/resources/application-mongo-atlas.properties
