name: Java CI with Gradle

on:
  push:
    paths:
      - 'carbon-jdk-code/**'
      - '.github/workflows/gradle.yml'
    branches: [ "main" ]
  pull_request:
    paths:
      - 'carbon-jdk-code/**'
      - '.github/workflows/gradle.yml'
    branches: [ "main" ]
  
permissions:
  contents: read

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Set up JDK 21
      uses: actions/setup-java@v5
      with:
        java-version: '21'
        distribution: 'temurin'
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5.0.0
    - name: gradle build
      working-directory: ./carbon-jdk-code
      run: ./gradlew build
