name: Build JDK Model with Gradle

on:
  workflow_call:

jobs:

  build-model:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Set up JDK 21
      uses: actions/setup-java@v5
      with:
        java-version: '21'
        distribution: 'temurin'
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5.0.1
    - name: gradle build
      working-directory: ./carbon-jdk-code
      run: ./gradlew libs:carbonlog-model:build
    - name: Upload model artifact
      uses: actions/upload-artifact@v6
      with:
        name: carbonlog-model-build
        path: carbon-jdk-code/libs/carbonlog-model/build/